<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../common/head %>
  </head>
  <body>
    <div id="banner">
      <h1 id="title">
        <a href=".">
          <span>Validator (Nu)
          </span>
        </a>
      </h1>
    </div>
    <p class="disclaimer">This validator is in development please <a href="https://github.com/veto64/validator"> help</a> to improve </p>
    <h2 id="top"></h2>
    <form method="get">
      <fieldset>
        <legend>Checker Input
        </legend>
        <p class="checkboxes">Max Pages      
            <label title="Entire Website" for="all">
              <select name="max_pages" id="max_pages">
		<% for(var i=0;i< page_options.length;i++){ %>
                <option value="<%= page_options[i] %>" <%= page_options[i] == max_pages ? 'selected="selected"': '' %>>
                  <%= page_options[i] %>
                </option> 
              <% } %>
              </select>
            </label>
        </p>

        <p class="checkboxes">Only Errors
             <label title="Entire Website" for="all">
              <input type="checkbox" name="only_errors" id="only_errors" value="true" <%= only_errors == true ? 'checked="checked"' : '' %>>
             </label>
        </p> 
        <div id="inputregion">
          <label id="inputlabel" for="doc">Document URL:
          </label>
          <input type="url" name="doc" id="doc"  title="Absolute URL (http, https or data only) of the document to be checked." tabindex="0" autofocus="autofocus" value="<%= start_url ? start_url : 'http://apache' %>" >
        </div>
        <p>
          <input value="Check" type="submit" id="submit">
          <% if(issue_pages.length){ %>
            <input value="Revalidate Error Pages" type="submit" id="submit2" name="revalidate">
          <% } %>
        </p>
      <div id="progressbar"></div>
      </fieldset>


     <% for(i in res){ %>
 <div class="results">
      <% if(res[i]['check']['messages'].length){ %>
        <input type="hidden" name="issue_pages" value="<%= i %>" />
      <ol>
        <% for(ii in res[i]['check']['messages']){ %>
        <li class="error">
          <h3><%= i %></h3>
          <p>
            <strong><%= res[i]['check']['messages'][ii]['type'] %></strong>: 
            <span><%= res[i]['check']['messages'][ii]['message'] %>
            </span>
          </p>
          <p class="location">
            From line <span class="first-line"><%= res[i]['check']['messages'][ii]['firstLine'] %></span> 
            to line <span class="first-col"><%= res[i]['check']['messages'][ii]['lastLine'] %></span>;
            From column <span class="last-line"><%= res[i]['check']['messages'][ii]['firstColumn'] %></span>
            to column <span class="last-col"><%= res[i]['check']['messages'][ii]['lastColumn'] %></span>
          </p>
          <p class="extract">
            <code><b><%= res[i]['check']['messages'][ii]['extract'] %></b>
              <span class="lf" title="Line break">↩</span>&lt;html
            </code>
          </p>
        </li>

     <% } %>      
      </ol>
      <p class="failure">There were errors.</p>
      <div class="details">
        <p class="msgschema">Used the schema for HTML + SVG 1.1 + MathML 3.0 + RDFa Lite 1.1.</p>
        <p class="msgmediatype">Used the HTML parser. Externally specified character encoding was UTF-8.</p>
      </div>
      <p class="stats">Total execution time 71 milliseconds.</p>
     <% }else{ %>      
     <% if(! only_errors) { %>
     <p class="success">Document <%= i %> checking completed. No errors or warnings to show.</p>
     <div class="details">
     <p class="msgschema">Used the schema for HTML + SVG 1.1 + MathML 3.0 + RDFa Lite 1.1.</p>
     <p class="msgmediatype">Used the HTML parser. Externally specified character encoding was UTF-8.</p>
     </div>
     <p class="stats">Total execution time 1039 milliseconds.</p>
     <% } %>      
     <% } %>      
    </div>
     <% } %>
    </form>

    <div id="content">
    </div>
    <% include ../common/footer %>
  </body>
</html>
